@using LocadoraDeVeiculos.Dominio.ModuloVeiculos
@model FormVeiculoViewModel

@{
    ViewBag.Title = "Edição de Veículo";
}
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-lg-6 ">
        <form asp-action="Editar">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="grupoVeiculosId" class="control-label"></label>
                <select asp-for="grupoVeiculosId" class="form-control" asp-items="Model.GrupoVeiculos"></select>
                <span asp-validation-for="grupoVeiculosId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <select asp-for="Cor" class="form-control" asp-items="Html.GetEnumSelectList<Cor>()"></select>
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control" asp-items="Html.GetEnumSelectList<Marca>()"></select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Combustivel" class="control-label"></label>
                <select asp-for="Combustivel" class="form-control" asp-items="Html.GetEnumSelectList<EnumCombustivel>()"></select>
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" min="2000" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quilometragem" class="control-label"></label>
                <input asp-for="Quilometragem" type="number" class="form-control" />
                <span asp-validation-for="Quilometragem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CapacidadeTanqueDeCombustivel" class="control-label"></label>
                <input asp-for="CapacidadeTanqueDeCombustivel" type="number" class="form-control" />
                <span asp-validation-for="CapacidadeTanqueDeCombustivel" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <button type="submit" value="Salvar" class="btn btn-primary">Salvar</button>
        </form>

        <a asp-action="Listar" class="btn btn-secondary">Voltar</a>
    </div>
</div>