@model FormCondutorViewModel

@{
    ViewBag.Title = "Cadastro de Condutor";
}

@* //Perguntar sobre como colocar o valor dos atributos no input *@
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-lg-6 ">
        <form asp-action="Cadastrar" method="post">
            <div class="form-group">
                <label for="ClienteId">Cliente:</label>
                <select asp-for="ClienteId" class="form-control" asp-items="Model.Clientes" id="clienteSelect"></select>
            </div>

            <div class="form-group">
                <input asp-for="ClienteCondutor" value="true" type="checkbox" id="ClienteCondutor" />
                <label for="ClienteCondutor">Cliente é condutor</label>
            </div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome:</label>
                <input asp-for="Nome" id="nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" id="email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone:</label>
                <input asp-for="Telefone" id="fone" maxlength="16" class="form-control" required />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CPF" class="control-label">CPF/CNPJ:</label>
                <input asp-for="CPF" id="cpf" maxlength="14" class="form-control" required />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CNH" class="control-label">CNH:</label>
                <input asp-for="CNH" maxlength="11" class="form-control" required />
                <span asp-validation-for="CNH" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValidadeCNH" class="control-label">Validade:</label>
                <input asp-for="ValidadeCNH" class="form-control" type="date" value="2000-01-01" />
                <span asp-validation-for="ValidadeCNH" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a asp-action="Listar" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cpfInput = document.getElementById('cpf');
        var telefoneInput = document.getElementById('fone');
        var emailInput = document.getElementById('email');
        var nomeInput = document.getElementById('nome');
        var clienteCondutorCheckbox = document.getElementById('ClienteCondutor');
        var clienteSelect = document.getElementById('clienteSelect');

        function atualizarCamposCondutor() {
            var ehCondutor = clienteCondutorCheckbox.checked;
            var clienteId = clienteSelect.value;

            cpfInput.readOnly = ehCondutor;
            telefoneInput.readOnly = ehCondutor;
            emailInput.readOnly = ehCondutor;
            nomeInput.readOnly = ehCondutor;

            if (ehCondutor && clienteId) {
                $.get('@Url.Action("CarregarDadosCondutores", "Condutor")', { clienteId: clienteId }, function (Resposta) {
                    console.log(Resposta);
                    if (Resposta.success) {
                        var cliente = Resposta.dados;
                        nomeInput.value = cliente.nome;
                        telefoneInput.value = cliente.telefone;
                        emailInput.value = cliente.email;
                        if (ehCondutor && cliente.cpf === null) {
                            cpfInput.value = cliente.cnpj;
                        } else {

                            cpfInput.value = cliente.cpf;
                        }
                    }
                });
            } else {
                nomeInput.value = '';
                cpfInput.value = '';
                telefoneInput.value = '';
                emailInput.value = '';
            }
        }

        clienteCondutorCheckbox.addEventListener('change', atualizarCamposCondutor);
        clienteSelect.addEventListener('change', atualizarCamposCondutor);

        atualizarCamposCondutor();


        cpfInput.addEventListener('input', function () {
            var value = cpfInput.value.replace(/\D/g, '');
            if (value.length <= 11) {
                value = value.replace(/(\d{3})(\d)/, '$1.$2');
                value = value.replace(/(\d{3})(\d)/, '$1.$2');
                value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
                cpfInput.value = value;
            }
        });

        telefoneInput.addEventListener('input', function () {
            var value = telefoneInput.value.replace(/\D/g, '');
            if (value.length <= 11) {
                value = value.replace(/(\d{2})(\d)/, '($1) $2');
                value = value.replace(/(\d{1})(\d{4})(\d{4})$/, '$1 $2-$3');
                telefoneInput.value = value;
            }
        });
    });
</script>
