@model FormTaxasViewModel
@{
    ViewBag.Title = "Excluir Taxa";
}

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-lg-6 ">
        <div class="alert alert-danger" role="alert">
            <strong>Tem certeza que deseja excluir esta taxa?</strong>
        </div>

        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" value="@Model.Nome" disabled />
        </div>

        <div class="form-group">
            <label>Valor:</label>
            <input class="form-control" value="@Model.Valor.ToString("C")" disabled />
        </div>

        <div class="form-group">
            <label>Tipo de Cobrança:</label>
            <input class="form-control" value="@(Model.TipoDeCobranca ? "Mensal" : "Diária")" disabled />
        </div>

        <form asp-action="Excluir" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group my-3">
                <button type="submit"  class="btn btn-danger">Excluir</button>
                <a asp-action="Listar" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
