@model DetalhesGrupoViewModel
@{
    ViewBag.Title = "Detalhes do Grupo de Veículos";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
    <label>Nome:</label>
    <input class="form-control" value="@Model.Nome" disabled />
</div>

<div class="form-group">
    <a asp-action="Listar" class="btn btn-secondary">Voltar</a>
</div>
