@{
    ViewBag.Title = "Página Inicial";
}
<div class="row d-flex justify-content-center" style="background-size: cover; background-position: center; height: 100vh;">
    <div class="col-lg-10">
        <div class="container card-body text-secondary text-center fw-bold">
            <img src="~/img/CarRentFoto.png" />

            <h1 class="display-4">Bem-vindo(a) à Locadora de Veículo - 2024</h1>
            <p class="lead">Gerencie aluguéis de veículos com eficiência e simplicidade.</p>
        </div>
    </div>
</div>