@{
    ViewBag.Title = "Acesso Negado";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="alert alert-danger mt-5" role="alert">
            <h4 class="alert-heading">Acesso Negado</h4>
            <p class="lead">Você não tem autorização para acessar esta página.</p>
            <hr>
            <p>Se você acha que isso é um erro, entre em contato com o administrador do sistema.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
        </div>
    </div>
</div>
